.daily-nutrition-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  top: 0;
  padding-left: 24px;
  background-color: #926DDE;
  z-index: 2;
}

.daily-nutrition-body,
.daily-nutrition-header {
  padding: 0 32px;
}
  
.section {
  margin: 32px auto;
}

/**
  * grid styles
  * TODO => improve: DRY up, abstract, and gutters
  */
.grid-row {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
}

.grid-item {
  display: flex;
  padding: 12px;
  align-items: center;
}

.grid-item-1-4 {
  flex: 1 1 25%;
}

.grid-item-1-2 {
  flex: 1 1 50%;
}

.grid-item:first-of-type {
  padding-left: 0;
}

.grid-item:last-of-type {
  padding-right: 0;
}

